<%= form_for([@auction, @auction.bids.build]) do |f| %>
    <p>
        <%= f.label 'Overbid current bid' %>
        <%= f.hidden_field(:max_bid, :value => min_bid) %>
        <%= f.submit %>
    </p>
<% end %>
<%= form_for([@auction, @auction.bids.build]) do |g| %>
    <p>
        <%= g.label :max_bid %>
        <%= g.number_field(:max_bid, :required => true, :min => min_bid) %>
        <%= g.submit %>
    </p>
<% end %>