<div class="container">
    <div class="pull-left">
        <p>
<%= form_for([@auction, @auction.bids.build]) do |f| %>
        <%= f.hidden_field(:max_bid, :value => min_bid) %>
        <%= f.submit "Overbid current bid", class: "btn btn-success" %>
<% end %> </p></div>
<div class="pull-right"><p>
<%= form_for([@auction, @auction.bids.build]) do |g| %>
        <%= g.number_field(:max_bid, :required => true, :min => min_bid) %>
        <%= g.submit "Submit maximum bid", class: "btn btn-success" %>
<% end %></p>
</div></div>