<%= form_for([@auction, @auction.bids.build]) do |f| %>
        <%= f.hidden_field(:max_bid, :value => min_bid) %>
        <%= f.submit "Bid "+min_bid.round.to_s, class: "btn btn-success bid-control" %>
<% end %>
<p class="bid-control text-center"><br>or<br>Custom maximum bid:</p>
<%= form_for([@auction, @auction.bids.build], :class => "form-inline") do |g| %>
        <%= g.number_field(:max_bid, :required => true, :min => min_bid, :placeholder => min_bid.round+1, class: "form-control bid-control") %>
        <%= g.submit "Bid", class: "btn btn-success bid-control" %>
<% end %>
