<%= form_for @auction do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.label :min_price %><br>
        <%= f.text_field :min_price %>
    </p>


    <p>
        <%= f.submit %>
    </p>
 <% end %>