<div class="pull-left">
    <h1>Auctions</h1>
</div>


<div class="pull-right auction-search">
    <p>
        <%= form_tag auctions_path, method: :get, :class => "navbar-form navbar-left" do %>
            <div class="form-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Auctions", class: "form-control" %>
            </div>
            <%= submit_tag "Search", :name => nil, class: "btn btn-info pull-right" %>
        <% end %>
    </p>
</div>

<table class="table table-bordered table-responsive">
    <tr>
        <th>Title</th>
        <th>Seller</th>
        <th>Time Remaining</th>
        <th>Price</th>
    </tr>

    <% @auctions.each do |auction| %>
        <tr>
            <td>
                <div style="float: left; width: auto;">
                    <%= link_to auction.title, auction_path(auction) %>&nbsp;
                </div>
                <div style="float: left; width: auto;">
                <%= if auction.user == @current_user then button_to 'Edit', edit_auction_path(auction), :method => "get", class: "btn btn-warning btn-xs" end %>
                </div>
                <div style="float: left; width: auto;">
                <%= if (auction.user == @current_user and auction.bids.first.nil?) then button_to 'Destroy', auction_path(auction), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" end %>
                </div>
            </td>
            <td><%= if auction.user == @current_user then "you" else auction.user.username end %></td>
            <td class="text-right"><%= auction.time_remaining_string %></td>
            <td class="text-right"><%= auction.price.round %> CHF</td>
        </tr>
    <% end %>
</table>
<%= button_to "New auction", new_auction_path, :method => "get", class: "btn btn-success" %>

