<div class="pull-left">
    <h1><%= fa_icon "list-ul" %> Auctions</h1>
</div>


<div class="pull-right auction-search">
    <p>
        <%= form_tag auctions_path, method: :get, :class => "navbar-form navbar-left" do %>
            <div class="form-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Auctions", class: "form-control" %>
            </div>
            <%= submit_tag "Search", :name => nil, class: "btn btn-info pull-right" %>
        <% end %>
    </p>
</div>

<table class="table table-bordered table-striped table-responsive">
    <thead>
    <tr>
        <th><%= fa_icon "car" %> Car type</th>
        <th><%= fa_icon "user" %> Seller</th>
        <th><%= fa_icon "clock-o" %> Time Remaining</th>
        <th><%= fa_icon "gavel" %> Highest bid</th>
    </tr>
    </thead>
    <tbody>
    <% @auctions.each do |auction| %>
        <tr>
            <td>
                <div style="float: left; width: auto;">
                    <strong><%= link_to auction.title, auction_path(auction) %>&nbsp;</strong>
                </div>
                <div style="float: left; width: auto;">
                    <%= if auction.user == current_user then button_to 'Edit', edit_auction_path(auction), :method => "get", class: "btn btn-warning btn-xs" end %>
                </div><div style="float: left; width: 2px;"><p>&nbsp;</p>
            </div>
                <div style="float: left; width: auto;">
                <%= if (auction.user == current_user and auction.bids.first.nil?) then button_to 'Delete', auction_path(auction), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" end %>
                </div>
            </td>
            <td><%= if auction.user == current_user then "you" else auction.user.username end %></td>
            <td class="text-right"><%= format_duration_if_pos(auction.time_remaining) %></td>
            <td class="text-right"><%= number_with_delimiter(auction.price.round, delimiter: "'") %> CHF</td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= button_to "New auction", new_auction_path, :method => "get", class: "btn btn-success" %>