<script>
    jQuery(document).ready(function() {
        var newYear = new Date();
        newYear = new Date(newYear.getFullYear() + 1, 1 - 1, 1);
        $("#auction-countdown").countdown({until: newYear, format: 'HMS'});
        alert("Started");
    });
</script>


<div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
    <h1><%= fa_icon "car" %> <%= @auction.title %></h1>
    <hr>
    <h2><strong><%= @auction.running? ? (fa_icon "clock-o" ) : (fa_icon "gavel" )  %> <%= format_duration_if_pos(@auction.time_remaining) %></strong></h2>

    <div id="auction-countdown"></div>

    <p>
        <%= @auction.running? ? "Time remaining" : "" %>
    </p>
    <hr>
    <p>
        <strong>Seller:</strong>
        <%= if @auction.user == @current_user then "you" else @auction.user.username end %>
    </p>
    <p>
        <strong>Description:</strong></p>
    <p>
        <%= @auction.description %>
    </p>
    <p><strong>Pictures:</strong></p>
    <p>
        <% @images.each do |image| %>
            <%= image_tag image.thumbnail_uri, size: "#{image.thumbnail_width}x#{image.thumbnail_height}" %>
        <% end %>
    </p>
    <p><strong>Related tweets:</strong></p>
    <%= render partial: 'tweet', collection: @tweets %>
    <hr>
    <p>
        <strong>All bids (for debugging):</strong>
    </p>
    <%= render @bids %>
    <hr>
</div>
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 text-right">
    <h1><%= fa_icon "gavel" %></h1>
    <hr>
    <h2>
        <strong><%= number_with_delimiter(@auction.price.round, delimiter: "'") %> CHF</strong>
    </h2>
    <p>
        <%= @auction.bids.empty? ? "Starting" : (@auction.running? ? "Current" : "Winning") %> bid
        <%= @bidder.nil? ? '' : ('by '+ (@bidder.eql?(current_user) ? "you" : @bidder.username)) %>
    </p>
    <hr>
    <% unless is_own_auction? or !@auction.running? %>
        <%= render "bids/form" %>
    <% end %>
    <% if is_own_auction? %>
        <div style="float: right; width: auto;">
            <%= if (is_own_auction? and @auction.bids.first.nil?) then button_to 'Delete', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" end %>
        </div>
        <div style="float: right; width: auto;">
            <p>&nbsp;</p>
        </div>
        <div style="float: right; width: auto;">
            <%= if is_own_auction? then button_to 'Edit', edit_auction_path(@auction), :method => "get", class: "btn btn-warning" end %>
        </div>
    <% end %>
</div>
<% unless !@auction.running? %>
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 text-right">
    <hr>
</div>
<% end %>