<h2>Auction</h2>
<p>
    <strong>Title:</strong>
    <%= @auction.title %>
</p>
<p>
    <strong>Description:</strong>
    <%= @auction.description %>
</p>
<p>
    <strong>Time remaining:</strong>
    <%= auction_running? ? (minutes_remaining + " minutes " + seconds_remaining + " seconds") : "Auction finished." %>
</p>
<hr>
<h2>Bids</h2>
<p>
    <strong><%= auction_running? ? "Current" : "Winning" %> Price:</strong>
    <%= @auction.price.round %>
</p>
<p>
    <strong><%= auction_running? ? "Current" : "Winning" %> Bidder:</strong>
    <%= @bidder.nil? ? '-' : @bidder.username %>

</p>
<hr>
<p>
    <strong>All bids:</strong>
</p>
<%= render @bids %>
<hr>
<% unless is_own_auction? or !auction_running? %>
<h2>Place a bid</h2>
<%= render "bids/form" %>
<hr>
<% end %>

<h2>Related tweets:</h2>
<% @tweets.each do |tweet| %>
    <%= tweet.text %>
<% end %>
<%= link_to 'Back to Auctions', auctions_path %>