<h2>Auction</h2>
<p>
    <strong>Title:</strong>
    <%= @auction.title %>
</p>
<p>
    <strong>Description:</strong>
    <%= @auction.description %>
</p>
<h2>Bids</h2>
<p>
    <strong>Current Price:</strong>
    <%= @auction.price %>
</p>
<p>
    <strong>All bids:</strong>
</p>
<%= render @bids %>
<h2>Place a bid</h2>
<%= render "bids/form" %>
<%= link_to 'Back to Auctions', auctions_path %>
