<div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
    <h1><%= fa_icon "car" %> <%= @auction.title %></h1>
    <hr>
    <h2><strong><%= @auction.running? ? (fa_icon "clock-o" ) : (fa_icon "gavel" )  %> <%= @auction.time_remaining_string %></strong></h2>
    <p>
        Time remaining
    </p>
    <hr>
    <p>
        <strong>Seller:</strong>
        <%= @auction.user.username %>
    </p>
    <p>
        <strong>Description:</strong>
        <%= @auction.description %>
    </p>
    <p>
    </p>
    <hr>
    <p>
        <strong>All bids (for debugging):</strong>
    </p>
    <%= render @bids %>
    <hr>
</div>
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 text-right">
    <h1><%= fa_icon "gavel" %></h1>
    <hr>
    <h2>

        <strong><%= number_with_delimiter(@auction.price.round, delimiter: "'") %> CHF</strong>
    </h2>
    <p>
        <%= @auction.running? ? "Current" : "Winning" %> bid
        <%= @bidder.nil? ? '' : 'by '+@bidder.username %>
    </p>
    <hr>
    <% unless is_own_auction? or !@auction.running? %>
        <%= render "bids/form" %>
    <% end %>
    <% if is_own_auction? %>
        <div style="float: right; width: auto;">
            <%= if (is_own_auction? and @auction.bids.first.nil?) then button_to 'Delete', auction_path(@auction), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" end %>
        </div>
        <div style="float: right; width: auto;">
            <p>&nbsp;</p>
        </div>
        <div style="float: right; width: auto;">
            <%= if is_own_auction? then button_to 'Edit', edit_auction_path(@auction), :method => "get", class: "btn btn-warning" end %>
        </div>
    <% end %>
</div>
<% unless !@auction.running? %>
<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12 text-right">
    <hr>
</div>
<% end %>
