<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, class: "form-group", url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, class: "form-control", autofocus: true %></p>

    <div style="float: left; width: auto;">
        <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
    </div>
<% end %>
<div style="float: right; width: auto;">
    <%= button_to 'Discard', root_path, method: :get, class: "btn btn-warning" %>
</div>