<h1><%= fa_icon "home" %> Home</h1>
<hr>
<h1 class="text-center">
    <span class="logo-small visible-lg-inline"><%= fa_icon "car" %></span>
    <span class="logo-medium visible-lg-inline visible-md-inline"><%= fa_icon "car" %></span>
    <span class="logo-large"><%= fa_icon "car" %></span>
    <span class="logo-medium visible-lg-inline visible-md-inline"><%= fa_icon "car" %></span>
    <span class="logo-small visible-lg-inline"><%= fa_icon "car" %></span>
</h1>
<hr>
<h1>Welcome!</h1>
<p class="lead">There's currently nothing to see on this page, but this would be the place to put a fancy dashboard with useful stuff to each individual user.</p>
<p class="lead">In the meantime, go and check out the <%= link_to "Auction page", auctions_path %> where you can find all the auctions listed and linked. </p>
