<h1>AutoTrade</h1>
<h2>Welcome to the great car sharing platform</h2>

<%= form_for(:user, :url => session_path(:user)) do |f| %>

    <div>Email<br />
        <%= f.email_field :email, autofocus: true %></div>

    <div>Password<br />
        <%= f.password_field :password %></div>

    <%= f.check_box :remember_me %> Remember me</div>

    <div><%= f.submit 'Sign in' %></div>

<%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>

<%= link_to 'Sign up', new_user_registration_path %>